<nav class="navbar bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand color-light">Todo</a>
  </div>
</nav>

<div class="container">
  <form class="row mt-4" [formGroup]="form" (ngSubmit)="insert()">
    <div class="col-md-6 mb-6">
      <input
        type="text"
        class="form-control"
        id="descricao"
        placeholder="Insira a descrição"
        formControlName="descricao"
      />
    </div>

    <div class="col-md-2">
      <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Adicionar</button>
    </div>
  </form>

  <div class="row mt-4">
    <div class="col-md-8">
      <ul class="list-group">
        <li
          *ngFor="let todo of todos"
          class="list-group-item d-flex justify-content-between align-items-center"
        >
          <span class="{{ todo.status ? 'done' : '' }}">
            {{ todo.descricao }}
          </span>
          {{ todo.dataFinalizacao }}
          <div class="btn-group" role="group">
            <button
              type="button"
              class="btn btn-success"
              [disabled]="todo.dataFinalizacao"
              (click)="activeStatus(todo)"
            >
              Feito
            </button>
            <button
              type="button"
              class="btn btn-danger"
              (click)="deleteById(todo)"
            >
              Excluir
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
